## Lesson 3.1: Lists

### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [1]:
lst = []
for i in range(1,21):
    lst.append(i)

print(lst)
print(type(lst))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [9]:
(first, *middle, last)= lst

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
20

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [3]:
print(lst[:5])
print(lst[-5:])
print(lst[5:16])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [13]:
sqr = [x**2 for x in range(11)]
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [14]:
even = [x for x in lst if x%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [37]:
mixed_list = [7,4,42,56,7,2,6,8,8,3,5,5,5,4,56]
mixed_list.sort()
print(mixed_list)

uni_list = list(set(mixed_list))
print(uni_list)

[2, 3, 4, 4, 5, 5, 5, 6, 7, 7, 8, 8, 42, 56, 56]
[2, 3, 4, 5, 6, 7, 8, 42, 56]

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [6]:
lst = [[3,4,5],[8,9,0],[1,2,6]]
for i in lst:
    print(i)
print(lst[1][2])

[3, 4, 5]
[8, 9, 0]
[1, 2, 6]
0

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [12]:
std_list = [{"name": "Vishal", "score": 7},
       {"name": "Rohit", "score": 9},
       {"name": "shubham", "score": 4}]

print(sorted(std_list, key=lambda i: i['score'], reverse=True))

[{'name': 'Rohit', 'score': 9}, {'name': 'Vishal', 'score': 7}, {'name': 'shubham', 'score': 4}]

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [38]:
t_lst = [[1,2,3],[4,5,6],[7,8,9]]

for i in t_lst:
    print(i)
print()


for i in range(len(t_lst[0])):
    for j in range(len(t_lst)):
        print(t_lst[j][i], end=' ')
    print()

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

1 4 7
2 5 8
3 6 9

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [45]:
nst_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = []
for i in nst_list:
    for j in i:
        flat_list.append(j)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [7]:
Positive_List = [1,2,3,4,5,6,7,8,9,10]
del Positive_List[2:7:2]
print(Positive_List)

Positive_List.insert(5, 99)
print(Positive_List)

[1, 2, 4, 6, 8, 9, 10]
[1, 2, 4, 6, 8, 99, 9, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [9]:
list1 = ["vishal", "Rohit", "Abhjit"]
list2 = [3,4,5]

zipped = zip(list1, list2)
print((list(zipped)))

[('vishal', 3), ('Rohit', 4), ('Abhjit', 5)]

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [ ]:
def list_reversal(lst):
    return lst[::-1]

lst = [1,2,3,4,5]
print("original list: ",lst)
print("Reversed List: ", list_reversal(lst))

original list:  [1, 2, 3, 4, 5]
Reversal List:  [5, 4, 3, 2, 1]

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [29]:
lst = [1,2,3,4,5,6]

def rotate_lst(lst, n):
    return lst[n:] + lst[:n]

roatetd_list = rotate_lst(lst, 2)

print("orinal list: ",lst)
print("Rotated list: ",roatetd_list)

orinal list:  [1, 2, 3, 4, 5, 6]
Rotated list:  [3, 4, 5, 6, 1, 2]

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [31]:
def intersection_list(list1,list2):
    return [x for x in list1 if x in list2]

list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
common_list = intersection_list(list1, list2)

print(common_list)

[4, 5]