## Tuple

Tuples are ordered collections of items that are immutable. 
They are similar to lists, but their immutability makes them different.

In [ ]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [6]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [9]:
mixed_tuple = (1, "Hello", 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [16]:
## Accessing Tuple Elements

numbers =(1, 2, 3, 4, 5, 6)
print(numbers[2])
print(numbers[-1])
print(numbers[0:4])
print(numbers[::-1])

3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [17]:
## Tuple Operations

concatenation_tuple= numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello', 3.14, True)

In [18]:
mixed_tuple*3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [19]:
numbers*4

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [20]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.
lst = [1,2,3,4,5]
print(lst)

lst[1] = "Vishal"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Vishal', 3, 4, 5]

In [21]:
numbers[1] = "Vishal"

TypeError: 'tuple' object does not support item assignment

In [22]:
numbers

(1, 2, 3, 4, 5, 6)

In [25]:
## Tuple Methods
print(numbers.count(4))
print(numbers.index(3))

1
2

In [27]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

a,b,c=packed_tuple
print(a)
print(b)
print(c)

(1, 'Hello', 3.14)
1
Hello
3.14

In [28]:
## Unpacking with *
numbers = (1,2,3,4,5,6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [33]:
## Nested list
lst = [[1,2,3,4],["Hello", 4,32.32],["raaj", "Kundra", "John"]]
print(lst[2])
print(lst[1][2])

['raaj', 'Kundra', 'John']
32.32

In [36]:
## nested Tuples
nst_tuple= ((2,3,4), ("Hey", "bayb", 32.4), (7,4,8))

## access the elements inside a tuple
print(nst_tuple[1])
print(nst_tuple[0][1])

('Hey', 'bayb', 32.4)
3

In [40]:
## iterating over nested tuples
for sub_tpl in nst_tuple:
    for i in sub_tpl:
        print(i, end=" ")
    print()

2 3 4
Hey bayb 32.4
7 4 8