# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [16]:
tpl = (1,2,3,4,5,6,7,8,9,10)

print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [18]:
first, *middle, last = tpl
print(first)
print(middle)
print(last)

print(f"middle elemet: {tpl[len(tpl)//2]}")

1
[2, 3, 4, 5, 6, 7, 8, 9]
10
middle elemet: 6

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [20]:
nstd_tuple = ((3,4,5), ("Hello",7,"World"), (1,2,3))
for item in nstd_tuple:
    print(item, end=" ")
    print()

print(f"Elemet at second row and third column: ",nstd_tuple[1][2])

(3, 4, 5)
('Hello', 7, 'World')
(1, 2, 3)
Elemet at second row and third column:  World

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [12]:
tpl1 = (1,2,3)
tpl2 = (4,5,6)
con_tpl = tpl1+tpl2
print(con_tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [17]:
dup_tpl = (1,2,3,3,2,4,5,5,5,6)

print(dup_tpl.count(5))
print(dup_tpl.index(4))

3
5

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [19]:
packed_tpl = 5,"Vishal", "raju", 3.14, 9

print(packed_tpl)

# Unpacking 
a,b,c,d,e = packed_tpl
print(a)
print(b)
print(c)
print(d)
print(e)

(5, 'Vishal', 'raju', 3.14, 9)
5
Vishal
raju
3.14
9

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [22]:
lst = [1,2,3,4,5]

tpl = tuple(lst)
print(type(tpl))
print(tpl)

<class 'tuple'>
(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [26]:
parent_tpl = ( (1,2,3), (4,5,6), (6,7,8) )

for item in parent_tpl:
    print(item, end=" ")
    print()

(1, 2, 3)
(4, 5, 6)
(6, 7, 8)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [34]:
positive_tpl = (1,2,3,4,5)

print(positive_tpl)
lst = list(positive_tpl)
print(type(lst))
lst.append(6)
print(lst)

tpl = tuple(lst)
print(type(tpl))
print(tpl)

(1, 2, 3, 4, 5)
<class 'list'>
[1, 2, 3, 4, 5, 6]
<class 'tuple'>
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [21]:
str1 = "hello"
tpl = tuple(str1)
joined_string = ''.join(tpl)
print(joined_string)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [22]:
dict = {
    (1,2): 3,
    (4,5): 6,
    (7,8): 9
}
print(dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [43]:
nstd_tuple

((3, 4, 5), ('Hello', 7, 'World'), (1, 2, 3))

In [47]:
for i in nstd_tuple:
    for j in i:
        print(j)

3
4
5
Hello
7
World
1
2
3

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [15]:
my_tuple = 1, 2, 2, 3, 4, 4, 5
print(type(my_tuple))

my_set = set(my_tuple)
print(type(my_set))
print(my_set)

<class 'tuple'>
<class 'set'>
{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [26]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

RecursionError: maximum recursion depth exceeded