# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [2]:
my_set = {1,2,3,4,5,6,7,8,9,10}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [3]:
my_set.add(11)
print(my_set)
my_set.remove(1)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [7]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [9]:
sqr = {x**2 for x in range(11)}
print(sqr)
print(type(sqr))

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}
<class 'set'>

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [10]:
set1

{1, 2, 3, 4, 5}

In [11]:
even_num = {x for x in set1 if x%2==0}
print(even_num)

{2, 4}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [4]:
dupl_set = {1,2,3,4,3,5,6,7,7,8}
uniq_set = set(dupl_set)
print(dupl_set)

{1, 2, 3, 4, 5, 6, 7, 8}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [21]:
set1

{1, 2, 3, 4, 5}

In [22]:
set3= {1,2,3}

In [23]:
print(set2.issubset(set1))
print(set1.issuperset(set2))

False
False

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [24]:
fz_set = {1,2,3,4,5,6}
frzn_set = frozenset(fz_set)
print(frzn_set)
print(type(frzn_set))

frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [25]:
set1

{1, 2, 3, 4, 5}

In [27]:
lst = list(set1)
print(type(lst))

lst.append(6)
print(lst)

ret_set = set(lst)
print(type(ret_set))

print(ret_set)

<class 'list'>
[1, 2, 3, 4, 5, 6]
<class 'set'>
{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [7]:
d = {
    frozenset({1,2}): 3,
    frozenset({4,5}): 6,
    frozenset({7,8}): 9
}

print(d)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [30]:
set1

{1, 2, 3, 4, 5}

In [31]:
for i in set1:
    print(i)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [10]:
s = set(range(1,6))

In [11]:
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [36]:
set1 = {1,2,3,4,5}
set2

{2, 4, 6, 8, 10}

In [39]:
sym_dif = set1.symmetric_difference_update(set2)
print(sym_dif)
print(set1)

None
{1, 3, 5, 6, 8, 10}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [40]:
x = {1,2,3,4,5}
y = {2,3}

print(3 in x)
print(10 in x)
print(6 in y)

True
False
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [41]:
set_of_tpls = { (1,2), ("Hello", "World") }
print(set_of_tpls)

{('Hello', 'World'), (1, 2)}