Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [1]:
## Declaring And Assigning Variables

age=32
height = 6.1
name= "vishal"
is_student = True

## printing the variables
print("age: ",age)
print("height: ",height)
print("name: ", name)

age:  32
height:  6.1
name:  vishal

In [2]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names
first_name= "Vishal"
last_name= "Rewaskar"

In [4]:
# Invalid variable names
#2age=30
#first-name="Krish"
@name="Krish"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1710987940.py, line 4)

In [5]:
## case sensitivity
name="Krish"
Name="Naik"

In [6]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [7]:
## Type Checking and Conversion

type(height)

float

In [10]:
age=30
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
30
<class 'str'>

In [12]:
age='30'
print(type(int(age)))

<class 'int'>

In [13]:
name="vishal"
int(name)

ValueError: invalid literal for int() with base 10: 'vishal'

In [14]:
height = 5.8
type(height)

float

In [15]:
float(int(height))

5.0

In [16]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10
print(var, type(var))

var ="hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [18]:
##input
age = int(input("What is the age:"))
print(age, type(age))

34 <class 'int'>

In [19]:
### Simple calculator
num1 = int(input("Enter number 1:"))
num2 = int(input("Enter number 2: "))

add = num1+num2
sub=num1-num2
product=num1*num2
quotient=num1/num2
print("sum : ",add )
print("Difference: ", sub)
print("Product : ", product)
print("quotient:", quotient)

sum :  50
Difference:  40
Product :  225
quotient: 9.0