# Lesson 1.2: Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [2]:
print("Hello World!")

Hello World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [3]:
var = input("enter something?")
print(var)

hey vishal

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [4]:
num = float(input("Enter number: "))
if num>0:
    print("Number is Positive")
elif num == 0:
    print("number is Zero")
else:
    print("number is negative")

number is negative

**Question 4:** Write a Python program to find the largest of three numbers.

In [7]:
num1 = float(input("Enter num 1: "))
num2 = float(input("Enter num 2: "))
num3 = float(input("Enter num 3: "))

if (num1>num2) and (num1>num3):
    print("num1 is greater : ", num1)
elif(num2>num1) and (num2>num3):
    print("num2 is greater", num2)
else:
    print("num3 is greater", num3)

num3 is greater 6000.0

**Question 5:** Write a Python program to calculate the factorial of a number.

In [7]:
n=10
fact=1
for i in range(1, 11):
    fact=fact*i
    i=i+1

print(fact)

3628800

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [8]:
var_int = 10
var_float = 14.653
var_str = "This is string varriablee"
is_teacher = True

print(var_int, type(var_int))
print(var_float, type(var_float))
print(var_str, type(var_str))
print(is_teacher, type(is_teacher))

10 <class 'int'>
14.653 <class 'float'>
This is string varriablee <class 'str'>
True <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [1]:
a, b = 6, 10
print(f"a:{a} and b:{b}")

#swapping
a, b=b, a
print(f"a:{a} and b:{b}")

a:6 and b:10
a:10 and b:6

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [13]:
c = float(input())
f = (c*(9/5))+32
print("Converted FArhrenheit is :", f)

Converted FArhrenheit is : 109.4

**Question 9:** Write a Python program to concatenate two strings.

In [14]:
name = "Hello"
Name = "World!"

print(name, "" , Name)

Hello  World!

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [2]:
var1 = "Vishal"
var2 = 19.334
var3 = 7

print(var1, type(var1))
print(var2, type(var2))
print(var3, type(var3))

Vishal <class 'str'>
19.334 <class 'float'>
7 <class 'int'>

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [15]:
a = 10
b = 5

add = a+b
sub = a-b
mul = a*b
div = a/b

print("Addition is : ", add)
print("Subtraction is: ", sub)
print("Multiploication is :", mul)
print("Dvision is :", div)

Addition is :  15
Subtraction is:  5
Multiploication is : 50
Dvision is : 2.0

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
num1 = float(input())
num2 = float(input())

if num1 == num2:
    print("num1 is equal to num2")
elif num1 > num2:
    print("num1 is graeter than num2")
elif num1 < num2:
    print("num1 is less than num2")
elif num1 != num2:
    print("Not equal to")

num1 is equal to num2

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [16]:
num= 10
num2= 11

num3=40
num4=40
if num==num2 or num3==num4:
    print("OR operation succeful")

OR operation succeful

**Question 14:** Write a Python program to calculate the square of a number.

In [18]:
num = int(input())

square = num**2
print(square)

49

**Question 15:** Write a Python program to check if a number is even or odd.

In [21]:
num = int(input())
if num%2==0:
    print("Given num is Even", num)
else:
    print(num, "Odd number")

Given num is Even 48

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [20]:
n= 6
sum=0
count=1

for i in range(1, n+1):
    sum=sum+i
    count=count+1

print(sum)

21

**Question 17:** Write a Python program to check if a year is a leap year.

In [23]:
year = int(input())

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, "This is leap year")
        else:
            print(year, "Not leap year")
    else:
        print(year, "Leap year")
else:
    print(year, "Not leap year")

2024 Leap year

**Question 18:** Write a Python program to reverse a string.

In [25]:
str="Vishal"

for i in str[::-1]:
    print(i)

l
a
h
s
i
V

**Question 19:** Write a Python program to check if a string is a palindrome.

In [34]:
str= "123214"

rev = str[::-1]
if str == rev:
    print("Palindrone")
else:
    print("Not")

Not

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [39]:
num = [6,2,7,332,5,76,4]
print(sorted(num))

[2, 4, 5, 6, 7, 76, 332]