Loops : 
- Loops are used to repeat instructions.

- Purpose: Automate repetitive tasks by executing code blocks multiple times
- Iteration: Single execution of loop body
- Iterable: Object capable of returning elements one at a time (strings, lists, ranges, etc.)
- Loop Variable: Temporary variable holding current element during iteration

range()

- Range functions returns a sequence of numbers, starting from 0 by default, and increments by
1 (by default), and stops before a specified number.

- range( start?, stop, step?)

In [1]:
range(5)

range(0, 5)

In [2]:
##for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [6]:
for i  in range(10,1,-2):
    print(i)

10
8
6
4
2

In [8]:
## strings
str="Vishal Rewaskar"

for i in str:
    print(i)

V
i
s
h
a
l

R
e
w
a
s
k
a
r

In [9]:
## While loop
## The while loop continues to execute as long as the condition is True.
count = 0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [10]:
#loop Control statement

# break
## The break statement exits the loop permaturely

##break statement
for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

In [12]:
#Continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [14]:
#pass

## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        print("number is ", i)
        pass
    print(i)

0
1
2
number is  3
3
4

In [16]:
#nested loops
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

Example: calculate the sum of first N natural numbers using a while and for loop

In [30]:
# natural number : 1,2,3,4,5,....n 
n = int(input("enter last digit: "))

for i in range(1, n+1):
    print(i+i)

2
4
6

In [37]:
#original code

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1
print(sum)

55

In [38]:
#original code

n=10
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

## Example- Prime numbers between 1 and 100

In [46]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97